<div class="search">
  <form #form="ngForm" (submit)="onSubmit()">
    <input type="text" placeholder="Search city" name="city" [(ngModel)]="cityName">
  </form>
</div>

<div class="container" *ngIf="weatherData">
  <div class="upperdata">
    <img src="../assets/sunny.gif" *ngIf="weatherData.main.temp>15">
    <img src="../assets/rainy.gif"  *ngIf="weatherData.main.temp<=15">
    <div class="weatherdata">
      <div class="location">{{weatherData.name}}</div>
      <div class="temp">{{weatherData.main.temp| number:'1.0-0'}}°C</div>
    </div>
  </div>

  <div class="lowerdata">
    <div class="more-info-label">More Information</div>
    <div class="more-info-container">
      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/mintemp.png" >
          <span>Min</span>
        </div>
        <div class="info-block-value">{{weatherData.main.temp_min}}</div>  
      </div>
      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/temp.png" >
          <span>Max</span>
        </div>
        <div class="info-block-value">{{weatherData.main.temp_max}}</div>  
      </div>
      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/humidity.png" >
          <span>Humidity</span>
        </div>
        <div class="info-block-value">{{weatherData.main.humidity}}%</div>  
      </div>
      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/wind2.png" >
          <span>Winds</span>
        </div>
        <div class="info-block-value">{{weatherData.wind.speed}} km/h</div>  
      </div>
      
      
    </div>
  </div>

  <div class="container1" *ngIf="!weatherData">
    Something Went Wrong
  </div>










</div>
  


<!-- <div class="container">
  <div class="upperdata">
    <img src="../assets/sunny.gif" *ngIf="14>15">
    <img src="../assets/night.gif"  *ngIf="14<=15">
    <div class="weatherdata">
      <div class="location">Wellington</div>
      <div class="temp">{{14.40| number:'1.0-0'}}°C</div>
    </div>
  </div>

  <div class="lowerdata">
    <div class="more-info-label">More Information</div>
    <div class="more-info-container">
      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/mintemp.png" >
          <span>Min</span>
        </div>
        <div class="info-block-value">10°C</div>  
      </div>
      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/temp.png" >
          <span>Max</span>
        </div>
        <div class="info-block-value">20°C</div>  
      </div>
      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/humidity.png" >
          <span>Humidity</span>
        </div>
        <div class="info-block-value">77%</div>  
      </div>
      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/wind2.png" >
          <span>Winds</span>
        </div>
        <div class="info-block-value">11 km/h</div>  
      </div>
      
      
    </div>
  </div>










</div> -->
  
<router-outlet></router-outlet>
